
.scenario-editor {
  
    &__error {
      color: #ff4d4f;
      font-size: 14px;
      margin-top: 4px;
    }
  
    &__image-container {
      position: relative;
      display: inline-block;
      margin-top: 1.5rem;
      border: 1px solid #ddd;
      border-radius: 6px;
      overflow: hidden;
    }
  
    &__image {
      max-width: 100%;
      display: block;
      cursor: crosshair;
    }
  
    &__drawing-rect {
      position: absolute;
      background-color: rgba(255, 0, 0, 0.2);
      border: 2px dashed red;
    }
  
    &__step-rect {
      position: absolute;
      border: 2px solid limegreen;
      box-sizing: border-box;
    }
  
    &__steps {
      margin-top: 50px;
    }
  
    &__subtitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0.75rem;
    }
  
    &__steps-list {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__step-index{
      font-size: 24px;
      font-weight: 400;
      color: #151515;
    }
  
    &__step-item {
      background-color: #F9F6FF;
      padding: 16px 25px;
      border-radius: 13px;
      display: flex;
      justify-content: space-between;
    }
  
    &__delete-button {
      background-color: #F9F6FF;
      border: none;
      cursor: pointer;
    }
  
    &__save-button {
      display: block;
      margin: 0 auto;
    }
  }
  