.card-choice-type{
    border-radius: 25px;
    border: 1px solid #6F679140;
    cursor: pointer;
}

.card-choice-type__title{
    padding: 27px;
    text-align: center;
}

.card-choice-type__img{
    max-width: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}